<!DOCTYPE html>
<html>

<head>
    <title>Welcome to miniUPS!</title>
</head>

<body>
    <h1>Welcome to miniUPS!</h1>
    <form method="get" action="{% url 'track_basic_package' %}">
        <label for="tracking_number">Enter tracking number:</label>
        <input type="text" id="tracking_number" name="tracking_number" required>
        <button type="submit">Track</button>
    </form>

    <p>Log in to see more information about your package!</p>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
</body>

</html>