{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-form">
                    <h2>Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <p>Not a user? <a href="{% url 'signup' %}">Sign up here</a></p>
                    <a href="{% url 'frontpage' %}">Return to Frontpage</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
