<!DOCTYPE html>
<html>

<head>
    <title>My Packages</title>
</head>

<body>
    <h2>My Packages</h2>

    <form method="get" action="{% url 'myPackages' %}">
        <label for="tracking_number">Enter tracking number:</label>
        <input type="text" id="tracking_number" name="tracking_number" value="{{ request.GET.tracking_number }}">
        <button type="submit">Search</button>
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <br>

    <form method="get" action="{% url 'myPackages' %}">
        <button type="submit" name="status" value="all">All My Packages</button>
        <button type="submit" name="status" value="at warehouse">At Warehouse</button>
        <button type="submit" name="status" value="loading">Loading</button>
        <button type="submit" name="status" value="delivering">Delivering</button>
        <button type="submit" name="status" value="delivered">Delivered</button>
    </form>

    <ul>
        {% for package in packages %}
        <li>
            Contents: {{ package.whats_inside }},
            Status: {{ package.status }},
            <a href="{% url 'package_details' tracking_number=package.tracking_number %}">View Details</a>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'profile' %}">View My Profile</a>
    <a href="{% url 'logout' %}">Logout</a>

</body>

</html>